@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/* !Workbench */
#workbenchPageContent {
  max-width: 100%;
}

.ControlZone--emphasisBackground,
.CanvasZoneContainer {
  background-color: transparent !important;
}

.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}

/* .ToolbarButtonTooltip {
  display: none;
} */

.Canvas {
  margin: 0 !important;
}
/* !workbench */
.cont { 
  width: 90%;
  margin: auto;
}
.announce-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.announce-pdf {
  background: url(../images/pdf.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.announce-ppt {
  background: url(../images/ppt.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.announce-doc {
  background: url(../images/word.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.announce-excel {
  background: url(../images/excel.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.announce-img {
  background: url(../images/picture.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.announce-new {
  background: url(../images/DocImage.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.announcement-list {
  max-height: 20rem;
  min-height: 20rem;
  overflow-y: auto;
  scrollbar-color: #727272 #f5f5f5;
  scrollbar-width: 6px;
}
.announcement-list a {
  text-decoration: none;
  color: #011e41;
  font-size: 1.1rem;
  font-weight:500;
}
.announcement-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.announcement-list::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.announcement-list::-webkit-scrollbar-thumb {
  background-color: #727272;
  border-radius: 20px;
}
.col-6.announcement {
  width: 40% !important;
  margin: 3rem 2rem !important;
}
.announcement-list li {
  border-bottom: 1px solid #cacaca;
}
.announcement-list li:hover {
  background: #ececec;
}
.btn {
  padding: 0.24rem 1rem !important;
}
button.btn.btn-theme {
  color: #fff;
  background: #011e41;
  padding: 0.24rem 1rem;
}
.announcement-list ul {
  margin: 0 !important;
}
.announcement-modal {
  padding: 1rem 2rem !important;
}
.announcement-modal-dialog {
  max-width: 40rem !important;
}
.custom-file-upload::-webkit-file-upload-button {
  color: #fff !important;
  background-color: #011e41 !important;
  padding: 0.24rem 1rem;
  border: none;
  border-radius: none;
}
.option-checkboxes label {
  font-size: 0.8rem;
}
.btn-outline-theme {
  color: #011e41 !important;
  border-color: #011e41 !important;
  border-radius: 0!important;
}
.announcement-modal .btn-check:active + .btn-outline-theme,
.announcement-modal .btn-check:checked + .btn-outline-theme {
  color: #fff !important;
  background-color: #011e41 !important;
  border-color: #011e41 !important;
  border-radius: 0!important;
}
.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}
label.btn.btn-outline-theme {
  padding: 0.375rem 0.75rem !important;
}
.cursor {
  cursor: pointer;
}
.icon-edit-announce {
  padding: 0 !important;
  margin-left: auto;
  width: 20px !important;
  height: 20px !important;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
  cursor: pointer;
}
.icon-edit-announce {
  background-image: url(../../ExternalRef/images/EditPencil.png);
}
.AnA-delete-warning-dialog {
  max-width: 20rem !important;
}
.AnA-delete-warning:before {
  position: absolute;
  width: 3rem;
  height: 3rem;
  content: "";
  background: url(../images/AlertWarning.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  top: -0.2rem;
  left: 43%;
}
.announcement-sec {
  width: 34.5rem;
}
.announcement-list ul {
  overflow-x: hidden;
}
.list-unstyled a.col-8 {
  word-break: break-all;
}
.ajs-header {
  padding-top: 5rem !important;
  text-align: center;
  padding-bottom: 0 !important;
}
.ajs-content {
  text-align: center;
}
.alertfy-success {
  position: relative;
}
.alertfy-success::before {
  position: absolute;
  width: 3rem;
  height: 3rem;
  content: "";
  background: url(../images/AlertConfirm.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  top: -90px;
  left: 42%;
}
.alertify .ajs-dialog {
  max-width: 20rem !important;
}
.alertify .ajs-footer .ajs-buttons.ajs-primary {
  text-align: center !important;
  margin-bottom: 0.5rem;
}
button.ajs-button.ajs-ok {
  background: #011e41 !important;
  color: #fff !important;
  border: 0 !important;
  border-radius: 0px !important;
}
.ajs-content {
  padding-top: 6px !important;
}
.clsRadioSec label {
  margin-right: 1rem;
}
/* nishanth changes */
 .add-announcements a{
  text-decoration: none;
}  
.add-FlxAnnfont{
  font-size:1.1rem;
  font-weight: 500;
}